deepfake-frontend@0.1.0 D:\university\FYP\certifact-frontend-new-1\deepfake-frontend
Γö£ΓöÇΓöÇ @studio-freight/react-lenis@0.0.47
Γö£ΓöÇΓöÇ @testing-library/dom@10.4.1
Γö£ΓöÇΓöÇ @testing-library/jest-dom@6.9.1
Γö£ΓöÇΓöÇ @testing-library/react@16.3.0
Γö£ΓöÇΓöÇ @testing-library/user-event@13.5.0
Γö£ΓöÇΓöÇ @types/react-dom@19.2.3
Γö£ΓöÇΓöÇ @types/react@19.2.7
Γö£ΓöÇΓöÇ @vitejs/plugin-react@5.1.2
Γö£ΓöÇΓöÇ autoprefixer@10.4.22
Γö£ΓöÇΓöÇ axios@1.13.2
Γö£ΓöÇΓöÇ bootstrap@5.3.8
Γö£ΓöÇΓöÇ chart.js@4.5.1
Γö£ΓöÇΓöÇ eslint-plugin-react-hooks@5.2.0
Γö£ΓöÇΓöÇ eslint-plugin-react-refresh@0.4.24
Γö£ΓöÇΓöÇ eslint-plugin-react@7.37.5
Γö£ΓöÇΓöÇ eslint@8.57.1
Γö£ΓöÇΓöÇ firebase@12.6.0
Γö£ΓöÇΓöÇ framer-motion@11.18.2
Γö£ΓöÇΓöÇ postcss@8.5.6
Γö£ΓöÇΓöÇ react-bootstrap@2.10.10
Γö£ΓöÇΓöÇ react-chartjs-2@5.3.1
Γö£ΓöÇΓöÇ react-dom@19.2.1
Γö£ΓöÇΓöÇ react-dropzone@14.3.8
Γö£ΓöÇΓöÇ react-icons@5.5.0
Γö£ΓöÇΓöÇ react-router-dom@7.10.1
Γö£ΓöÇΓöÇ react-tsparticles@2.12.2
Γö£ΓöÇΓöÇ react@19.2.1
Γö£ΓöÇΓöÇ tailwindcss@3.4.18
Γö£ΓöÇΓöÇ tsparticles@3.9.1
Γö£ΓöÇΓöÇ uuid@11.1.0
Γö£ΓöÇΓöÇ vite@6.4.1
ΓööΓöÇΓöÇ web-vitals@2.1.4

